.btn-container {
    width: 100%;
    button {
        width: 100%;
    }
}

.pac-container {
    z-index: 2000;
}

.journey-planner-step {
    display: block;
    margin-top: 100px;
    .panel {
        margin: auto;
        width: 50%;
        @media screen and (max-width: 450px) {
            width: 100%;
        }

        .full-width, .ui-calendar, input {
            width: 100%;
        }

        .ui-button-text-only .ui-button-text {
            padding: 0.75em 1em;
        }
    }
}
