<div class="container" *ngIf="!_appService.trips && _appService.showStep">
    <p-steps [model]="steps" [activeIndex]="activeStep"></p-steps>
    <journey-planner-where class="journey-planner-step" *ngIf="activeStep === 0" (onNext)="whereSelected($event)"></journey-planner-where>
    <journey-planner-when class="journey-planner-step" *ngIf="activeStep === 1" (onNext)="whenSelected($event)"></journey-planner-when>
    <journey-planner-park class="journey-planner-step" *ngIf="activeStep === 2" (onNext)="parkSelected($event)"></journey-planner-park>
    <journey-planner-recapitulation class="journey-planner-step" *ngIf="activeStep === 3" [journeyData]="journeyData" (onNext)="confirm($event)"></journey-planner-recapitulation>
    <p-dialog [closable]="false" [modal]="true" [closeOnEscape]="false" header="Geolocation Error" [(visible)]="currentPositionLoaded && currentPositionError">
        Your localisation could not be retrieved (maybe because of your browser settings), please specify the departure address manually.
        <input class="form-control input-lg"
               placeholder="Address"
               Googleplace
               (setAddress)="fallbackCurrentPositionSelected($event)">
    </p-dialog>
</div>

<div class="container journey-planner-step">
    <router-outlet></router-outlet>
</div>