.ui-steps {
  .ui-steps-item {
    width: 25%;
  }
}

 @media screen and (max-width: 450px) {
    .ui-steps {
      .ui-steps-item {
        width: 100%;
        &.ui-state-default {
          display: none;
        }
      }
    }
 }