<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Travel summary</h3>
    </div>
    <div class="panel-body">
        <p>
            Do you really want to travel to <b>{{journeyData.destination.formatted_address}}</b>
        </p>
        <p>
            <b><span *ngIf="journeyData.dateDeparture">Start at </span>
            <span *ngIf="!journeyData.dateDeparture">Arrive at</span></b>
            {{journeyData.date | date:'dd/MM/y HH:mm'}}
        </p>
        <div class="form-group btn-container">
            <button pButton type="button" (click)="performNext()" label="Confirm"></button>
        </div>
    </div>
</div>