<div *ngIf="parks">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Can you park directly at your destination ?</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <p-selectButton (onChange)="selectAnswer($event)" [options]="answer" [(ngModel)]="selectedAnswer"></p-selectButton>
            </div>
            <div *ngIf="selectedAnswer.toUpperCase() === AppConstant.NoAnswer.toUpperCase()">
                <p-dataGrid [value]="parks.result" [paginator]="true" [rows]="6">
                    <p-header>List of Parkings</p-header>
                    <template let-park pTemplate="item">
                        <div  class="ui-g12, ui-md-6">
                            <p-panel (click)="selectParking(park)" styleClass="cursor-panel">
                                <div>
                                    <span>Name: {{park.name}}</span>
                                </div>
                                <div >
                                    <span>Available places: {{park.availableSpaces? park.availableSpaces:'unknow'}}/{{park.totalSpaces}}</span>
                                </div>
                            </p-panel>
                        </div>
                    </template>
                </p-dataGrid>
            </div>
        </div>
    </div>
</div>