<div id="when">
    <p-growl [value]="errorMessage"></p-growl>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">When do you want to <span *ngIf="selectedType === 'Departure'">start</span><span *ngIf="selectedType === 'Arrival'">end</span> your trip ?</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <p-selectButton [options]="types" [(ngModel)]="selectedType"></p-selectButton>
            </div>
            <div class="form-group">
                <p-calendar id="when-step-date-picker" placeholder="Date and time" class="full-width input-lg" [readonlyInput]="true"
                            [minDate]="minDate"
                            [(ngModel)]="arrivalDepartureDate" [showTime]="true"></p-calendar>
            </div>
            <div class="form-group btn-container">
                <button pButton type="button" (click)="verifyIsAllCompleted()" label="Next"></button>
            </div>
        </div>
    </div>
</div>