/*#when {
  .panel-heading {
    text-align: center;
    &.background-heading {
      background-color: lighten(#0275d8, 40%);

    }
  }

  .panel-body {
    .when-container {
      width: 50%;
      margin: auto;
      .personal-primary {
        color: #ffffff;
        background-color: #0275d8;
        border-color: #0275d8;
      }
    }
  }
}*/

#when-step-date-picker {
  padding: 0;
}

p-selectbutton {
  display: block;
  width: 100%;
  .ui-selectbutton {
    width: 100%;
    .ui-button {
      width: 50%;
    }
  }
}