<div *ngIf="trips">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Your Best Trips</h3>
        </div>
        <div class="panel-body">
            <div *ngFor="let possibility of trips; let i=index">
                <p-accordion>
                    <p-accordionTab [header]="titleAccordeon[i].title">
                        <div *ngFor="let result of possibility.result">
                            <div *ngFor="let route of result.routes">
                                <div class="row form-group">
                                    <div class="col-md-2">
                                        <span>Location:</span>
                                    </div>
                                    <div class="col-md-10">
                                        <span>{{route.legs[0].start_address}}</span>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-2">
                                        <span>Destination:</span>
                                    </div>
                                    <div class="col-md-10">
                                        <span>{{route.legs[0].end_address}}</span>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-2">
                                        <span>Steps:</span>
                                    </div>
                                    <div class="col-md-10">
                                        <ul class="list-group">
                                            <li *ngFor="let step of route.legs[0].steps " [innerHTML]="step.html_instructions" class="list-group-item"></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-2">
                                        <span>Duration:</span>
                                    </div>
                                    <div class="col-md-10">
                                        <span>{{route.legs[0].duration.text}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </p-accordionTab>
                </p-accordion>
            </div>
        </div>
    </div>
</div>



<!--
<div *ngIf="trips">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Your Best Trips</h3>
        </div>
        <div class="panel-body">
            <div class="row form-group">
                <div class="col-md-2">
                    <span>Location:</span>
                </div>
                <div class="col-md-10">
                    <span>{{trips.result.routes[0].legs[0].start_address}}</span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-2">
                    <span>Destination:</span>
                </div>
                <div class="col-md-10">
                    <span>{{trips.result.routes[0].legs[0].end_address}}</span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-2">
                    <span>Steps:</span>
                </div>
                <div class="col-md-10">
                    <ul class="list-group">
                        <li *ngFor="let step of trips.result.routes[0].legs[0].steps " [innerHTML]="step.html_instructions" class="list-group-item"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>-->
