<p-growl [value]="messages"></p-growl>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            Where do you want to go ?
        </h3>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <input id="google-place-where-input"
                   class="form-control input-lg"
                   placeholder="Address"
                   Googleplace
                   (setAddress)="addressChanged($event)">
        </div>
        <div class="form-group btn-container">
            <button pButton type="button" (click)="performNext()" label="Next"></button>
        </div>
    </div>
</div>

